<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.talented.buttie.simulation.mapper.SimulationItemMapper">
  <insert id="save"
          parameterType="com.talented.buttie.simulation.domain.SimulationItemVO"
          useGeneratedKeys="true"
          keyProperty="simulationItemId"
          keyColumn="SIMULATION_ITEM_ID">
    insert into SIMULATION_ITEM(
              SIMULATION_ID,
              SIMULATION_ITEM_CATEGORY,
              SIMULATION_ITEM_NAME,
              SIMULATION_ITEM_EXPENSE_CATEGORY,
              SIMULATION_ITEM_APPLY_AMOUNT,
              APPLY_START_DATE,
              APPLY_END_DATE,
              POLICY_ID,
              RECURRENCE_TYPE,
              IS_DELETED
    ) values (
              #{simulationId},
              #{simulationItemCategory},
              #{simulationItemName},
              #{simulationItemExpenseCategory},
              #{simulationItemApplyAmount},
              #{applyStartDate},
              #{applyEndDate},
              #{policyId},
              #{recurrenceType},
              false
    )
  </insert>

  <select id="findAllActiveBySimulationId"
    resultType="com.talented.buttie.simulation.domain.SimulationItemVO">
    select I.SIMULATION_ITEM_ID as simulationItemId,
           I.SIMULATION_ID as simulationId,
           I.SIMULATION_ITEM_CATEGORY as simulationItemCategory,
           I.SIMULATION_ITEM_NAME as simulationItemName,
           I.SIMULATION_ITEM_EXPENSE_CATEGORY as simulationItemExpenseCategory,
           I.SIMULATION_ITEM_APPLY_AMOUNT as simulationItemApplyAmount,
           I.APPLY_START_DATE as applyStartDate,
           I.APPLY_END_DATE as applyEndDate,
           I.POLICY_ID as policyId,
           I.RECURRENCE_TYPE as recurrenceType,
           I.IS_DELETED as isDeleted
    from SIMULATION_ITEM I
    where I.SIMULATION_ID = #{simulationId}
        and I.IS_DELETED is false
  </select>
  <select id="findAllByCategory"
          resultType="com.talented.buttie.simulation.domain.SimulationItemVO">
    select I.SIMULATION_ITEM_ID as simulationItemId,
           I.SIMULATION_ID as simulationId,
           I.SIMULATION_ITEM_CATEGORY as simulationItemCategory,
           I.SIMULATION_ITEM_NAME as simulationItemName,
           I.SIMULATION_ITEM_EXPENSE_CATEGORY as simulationItemExpenseCategory,
           I.SIMULATION_ITEM_APPLY_AMOUNT as simulationItemApplyAmount,
           I.APPLY_START_DATE as applyStartDate,
           I.APPLY_END_DATE as applyEndDate,
           I.RECURRENCE_TYPE as recurrenceType,
           I.IS_DELETED as isDeleted,
           I.POLICY_ID as policyId
    from SIMULATION_ITEM I
    where I.SIMULATION_ID = #{simulationId}
        and I.SIMULATION_ITEM_CATEGORY = #{itemCategory}
        and I.IS_DELETED = false
    order by I.SIMULATION_ITEM_CATEGORY, I.APPLY_START_DATE
  </select>
</mapper>
