<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.talented.buttie.quest.mapper.QuestMapper">

  <select id="findAllByUserId"
          resultType="com.talented.buttie.quest.domain.QuestVO">
    select Q.QUEST_ID as questId,
           Q.USER_ID as userId,
           Q.SIMULATION_ID as simulationId,
           Q.SIMULATION_ITEM_ID as simulationItemId,
           Q.TRANSACTION_ID as transactionId,
           Q.QUEST_TITLE as displayName,
           Q.QUEST_DEADLINE as questDeadline,
           Q.QUEST_STATUS as questStatus,
           Q.QUEST_URL as questUrl,
           Q.QUEST_COMPLETED_AT as questCompletedAt
    from QUEST Q
    where Q.USER_ID = #{userId}
    order by Q.QUEST_ID asc
  </select>

  <select id="findAllBySimulationId"
          resultType="com.talented.buttie.quest.domain.QuestVO">
    select Q.QUEST_ID as questId,
           Q.USER_ID as userId,
           Q.SIMULATION_ID as simulationId,
           Q.SIMULATION_ITEM_ID as simulationItemId,
           Q.TRANSACTION_ID as transactionId,
           Q.QUEST_TITLE as displayName,
           Q.QUEST_DEADLINE as questDeadline,
           Q.QUEST_STATUS as questStatus,
           Q.QUEST_URL as questUrl,
           Q.QUEST_COMPLETED_AT as questCompletedAt
    from QUEST Q
    where Q.SIMULATION_ID = #{simulationId}
    order by Q.QUEST_ID asc
  </select>

</mapper>
