<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talented.buttie.catalog.mapper.PolicyMapper">

  <select id="findById" resultType="com.talented.buttie.catalog.domain.PolicyVO">
    select *
    from POLICY
    where POLICY_ID = #{policyId}
  </select>

  <select id="findAll" resultType="com.talented.buttie.catalog.domain.PolicyVO">
    select *
    from POLICY
    where POLICY_STATUS = 'AVAILABLE'
    order by POLICY_ID asc
  </select>
</mapper>