<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.talented.buttie.user.mapper.EmploymentPreparationMapper">
  <update id="updateEmploymentPreparation">
    UPDATE EMPLOYMENT_PREPARATION
    SET
      BIRTH_DATE = #{ep.birthDate},
      REGION = #{ep.region},
      FAMILY_COUNT = #{ep.familyCount},
      EMPLOYMENT_PREP_TYPE = #{ep.employmentPrepType},
      PREP_START_DATE = #{ep.prepStartDate},
      TARGET_EMPLOYMENT_DATE = #{ep.targetEmploymentDate},
      LIVING_FUND_THRESHOLD = #{ep.livingFundThreshold}
    WHERE USER_ID = #{ep.userId}
  </update>
</mapper>