<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.talented.buttie.user.mapper.EmploymentPreparationMapper">
  <update id="updateEmploymentPreparation">
    UPDATE EMPLOYMENT_PREPARATIONS
    SET
      BIRTH_DATE = #{employmentPreparation.birthDate},
      EMPLOYMENT_PREP_REGION = #{employmentPreparation.employmentPrepRegion},
      FAMILY_COUNT = #{employmentPreparation.familyCount},
      EMPLOYMENT_PREP_TYPE = #{employmentPreparation.employmentPrepType},
      PREP_START_DATE = #{employmentPreparation.prepStartDate},
      TARGET_EMPLOYMENT_DATE = #{employmentPreparation.targetEmploymentDate},
      LIVING_FUND_THRESHOLD = #{employmentPreparation.livingFundThreshold}
    WHERE USER_ID = #{employmentPreparation.userId}
  </update>
</mapper>